<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="myscript-cordova-plugin"
    version="0.0.0">
    <name>Myscript</name>
    <author>bguiz</author>
    <description>Myscript Cordova Plugin</description>
    <license>GPL-3.0</license>
    <keywords>cordova,myscript,plugin</keywords>
    <repo>https://github.com/bguiz/myscript-cordova-plugin.git</repo>
    <info>
        You need to download appropriate files (see `download.md`),
        and then execute `npm run setup` in this plugin's folder.
    </info>
    <engines>
        <engine name="cordova-android" version=">=5.4.0" />
        <engine name="cordova-ios" version=">=5.4.0" />
    </engines>
    <js-module src="www/MyscriptCordova.js" name="MyscriptCordova">
        <clobbers target="MyscriptCordova" />
    </js-module>
    <platform name="android">
        <!-- define injections into main app's config file -->
        <config-file target="res/xml/config.xml" parent="plugins">
          <plugin name="GeometryWidget" value="com.myscript.atk.gew.GeometryWidget" />
          <plugin name="GeometryWidgetApi" value="com.myscript.atk.gew.GeometryWidgetApi" />
          <plugin name="MathWidget" value="com.myscript.atk.maw.MathWidget" />
          <plugin name="MathWidgetApi" value="com.myscript.atk.maw.MathWidgetApi" />
          <plugin name="MultiLineTextWidget" value="com.myscript.atk.mltw.MultiLineTextWidget" />
          <plugin name="MultiLineTextWidgetApi" value="com.myscript.atk.mltw.MultiLineTextWidgetApi" />
          <plugin name="SingleCharWidget" value="com.myscript.atk.scw.SingleCharWidget" />
          <plugin name="SingleCharWidgetApi" value="com.myscript.atk.scw.SingleCharWidgetApi" />
          <plugin name="SingleLineTextWidgetStyleable" value="com.myscript.atk.sltw.SingleLineTextWidgetStyleable" />
          <plugin name="SingleLineTextWidgetStyleableApi" value="com.myscript.atk.sltw.SingleLineTextWidgetApi" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SimpleResourceHelper" >
                <param name="android-package" value="com.myscript.atk.mltw.SimpleResourceHelper"/>
            </feature>
            <feature name="MyCertificate" >
                <param name="android-package" value="com.myscript.certificate.MyCertificate"/>
            </feature>
        </config-file>

        <!-- core (SDK) -->
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScript2D.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptAnalyzer.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptDocument.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptEngine.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptInkSearch.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptInk.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptMath.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptPrediction.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptShape.so" />
        <lib-file src="download/myscript-android/libs/sdk/libs/armeabi-v7a/libMyScriptText.so" />

        <!-- core (util) -->
        <source-file
            src="download/MyCertificate.java"
            target-dir="src/com/myscript/certificate" />
        <source-file
            src="download/myscript-android/samples/mltw/src/com/myscript/atk/mltw/sample/SimpleResourceHelper.java"
            target-dir="src/com/myscript/mltw/sample" />

        <!-- individual components (ATK) -->
        <source-file
            src="download/myscript-android/libs/gew/libs/AtkGew.jar"
            target-dir="src/com/myscript/atk/gew" />
        <source-file
            src="download/myscript-android/libs/gew-lib-styleable/libs/AtkGewStyleable.jar"
            target-dir="src/com/myscript/atk/gew/styleable" />
        <source-file
            src="download/myscript-android/libs/inw/libs/AtkInw.jar"
            target-dir="src/com/myscript/atk/inw" />
        <source-file
            src="download/myscript-android/libs/itc/libs/AtkItc.jar"
            target-dir="src/com/myscript/atk/itc" />
        <lib-file src="download/myscript-android/libs/itc/libs/armeabi-v7a/AtkItc.so" />
        <source-file
            src="download/myscript-android/libs/maw/libs/AtkMaw.jar"
            target-dir="src/com/myscript/atk/maw" />
        <source-file
            src="download/myscript-android/libs/maw-lib-styleable/libs/AtkMawStyleable.jar"
            target-dir="src/com/myscript/atk/maw/styleable" />
        <source-file
            src="download/myscript-android/libs/mltw/libs/AtkMltw.jar"
            target-dir="src/com/myscript/atk/mltw" />
        <source-file
            src="download/myscript-android/libs/scw/libs/AtkScw.jar"
            target-dir="src/com/myscript/atk/scw" />
        <source-file
            src="download/myscript-android/libs/sltw/libs/AtkSltw.jar"
            target-dir="src/com/myscript/atk/sltw" />
        <source-file
            src="download/myscript-android/libs/sltw-lib-styleable/libs/AtkSltw-styleable.jar"
            target-dir="src/com/myscript/atk/sltw/styleable" />
        <source-file
            src="download/myscript-android/libs/styluscore/libs/com.myscript.atk.styluscore.jar"
            target-dir="src/com/myscript/atk/styluscore" />
        <lib-file src="download/myscript-android/libs/styluscore/libs/armeabi-v7a/libStylusCore.so"/>
    </platform>
</plugin>
